body{
    font-family: Almarai;
}
a{
    text-decoration: none;
}
.tik_1:hover{
/* background-color: #1b9b07; */
text-shadow: 2px 2px black;
}
.card.read-more:hover{
    font-size: 14px;
}
.card:hover ,.card:active{
    /* box-shadow: 8px 8px 8px 8px green;
    transform: scale(1,2); */
    background-color: rgb(159, 213, 164);;
}

.card{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transition: .3s;
    margin: 3rem;
}
.text_1{
    color: rgb(69, 119, 7);
}

/* #image{
    position: absolute;
    top: calc(80% - 300px);
    right: 60%;
    z-index: 999;
}
#image img{
    height: 600px;
    transition: 0.5s;
} */
.card{
    background-color: rgba(255, 255, 255, 0.829);
}