body{
    font-family: Almarai;
    background-image: url('images/tick_logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.card{
    height: 630px;
    width: 600px;
    border: 1px solid black;
    transition: .3s;
    margin: 3rem;
}
a{
    text-decoration: none;
}